VITE_API_BASE_URL=http://localhost:3000/api
VITE_APP_NAME=Pobeda

VITE_EMAILJS_SERVICE_ID=service_ id
VITE_EMAILJS_TEMPLATE_RESET_PASWORD_ID=template_reset_password_id
VITE_EMAILJS_PUBLIC_KEY=public_key
