# Зависимости
node_modules/
package.json

# Переменные окружения
.env

# Сборка
dist/
build/

# Логи
*.log

# ОС
.DS_Store
Thumbs.db

# Скомпилированный код
/src/generated/prisma

# Prisma
prisma/.env
prisma/dev.db

# IDE
.idea/
.vscode/

# Проверка ветки feature/add_payment_logic_refunds